.App {
  text-align: center;
}

.version-display {
    position: fixed;
    top: 10px; /* Adjust the top and right values as needed */
    right: 10px;
    font-size: 10px; /* Small font size */
    color: #666; /* A subtle text color */
    z-index: 1000; /* Ensures it stays on top of other elements */
}

.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: left;
  color: white;
  width: 100%;
  height: 100px;;
  position: fixed;
  top: 0;
  z-index: 999;
  transition: height 0.3s;
}

.App-header.shrink {
  height: 30px;
}

.App-content {
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding-top: 100px; /* Adjust this value to match the height of your header */
}

.SheetMusicLogo {
  filter: invert(100%); /* Invert colors */
  height: 100%; /* Adjust as needed */
  max-height: 80px;
  margin: 20px;
  width: auto;
}

.MetronomeSettings label {
  margin-left: 20px; /* Added margin for spacing */
}

.MetronomeSettings input[type="range"] {
  margin: 0 10px;
}

.MetronomeToggleText {
  display: inline-block; /* Makes the element respect width and height */
  width: 40px; /* Set a fixed width */
  text-align: center; /* Center the text within the fixed width */
}

.UploadSection {
  margin-left: 20px; /* Added margin for spacing */
}

.InstructionalContent {
    background-color: #f3f4f6;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.InstructionalContent h2 {
    color: #333;
    margin-bottom: 15px;
}

.Instructions .InstructionStep {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the flex container */
    margin-bottom: 15px;
}

.Icon {
    font-size: 24px;
    margin-right: 10px;
}

.Instructions p {
    color: #555;
    margin: 0;
    line-height: 1.5;
}
