.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: left;
  color: white;
}

.App-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.SheetMusicLogo {
  filter: invert(100%); /* Invert colors */
  height: 80px; /* Adjust as needed */
  margin: 20px;
}

.MetronomeSettings label {
  margin-left: 20px; /* Added margin for spacing */
}

.MetronomeSettings input[type="range"] {
  margin: 0 10px;
}

.MetronomeToggleText {
  display: inline-block; /* Makes the element respect width and height */
  width: 40px; /* Set a fixed width */
  text-align: center; /* Center the text within the fixed width */
}

.UploadSection {
  margin-left: 20px; /* Added margin for spacing */
}
