.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: left;
  color: white;
}

.App-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.SheetMusicLogo {
  filter: invert(100%); /* Invert colors */
  height: 80px; /* Adjust as needed */
  margin: 20px;
}

.MetronomeSettings label {
  margin-left: 20px; /* Added margin for spacing */
}

.MetronomeSettings input[type="range"] {
  margin: 0 10px;
}

.MetronomeToggleText {
  display: inline-block; /* Makes the element respect width and height */
  width: 40px; /* Set a fixed width */
  text-align: center; /* Center the text within the fixed width */
}

.UploadSection {
  margin-left: 20px; /* Added margin for spacing */
}

.MusicPage {
  position: relative;
}

.measure {
  position: relative;
}

.measure::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0; /* Initially, no width */
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1)); /* Semi-transparent gradient to white */
  pointer-events: none; /* Allow clicks to pass through */
}

.measure:hover::before {
  width: 100%; /* On hover, fill the width to 100% */
  background-color: white; /* Color to fill the div */
  transition: var(--transition-time) ease-in-out; /* Transition width property */
  transition-delay: var(--transition-time-delay);
}

.measure-text {
  position: absolute;
  top: -30px; /* Adjust this value to control the vertical position */
  left: 0px;
}
